*, *::before, *::after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: : border-box;
}

.side-bar {
  font-family: 'Roboto', sans-serif;
  background-color: lightgray;
  padding: 15px;
  width: 200px;
  height: 1000px;
  text-align: left;
}
