<main>
  <h1 class="chat">Bloc Chat</h1>
  <section class="side-bar">
    <button ng-click="home.createRoom()">New Room</button>
    <p ng-repeat="room in home.roomList">
      <span ng-click="home.selectRoom(room)">{{ room.$value }}</span>
      <button type="button" class="pull-right" ng-click="home.removeRoom(room)">
        <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
      </button>
    </p>
  </section>
  <section class="messages">
    <div ng-show="home.selectedRoom">
      <h2> {{ home.selectedRoom.$value }}</h2>
      <div ng-repeat="message in home.messages">
        <span class="message-username">{{ message.username }}</span> : <span class="message-msg">{{ message.content }}</span>
      </div>
    </div>
    <div ng-hide="home.selectedRoom">
      Have Fun Chatting!!
    </div>
  </section>
</main>
